@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Bhaina 2', cursive;
    background-color: #F3EFF5;
}

/* Description Section */
.home-container {
    min-height: 100vh;
    width: 100%;
    padding-top: 150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
}

.left-column {
    flex-basis: 40%;
    position: relative;
}

.left-column h1 {
    font-size: 100px;
    color: #71b7e6;
}

.left-column h3 {
    font-size: 30px;
    font-weight: 100;
    margin: 5px 0 10px;
    line-height: 60px;
}

button {
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: 500;
    width: 140px;
    border: 0;
    padding: 7px 10px;
    outline: none;
    color:#F3EFF5;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button img {
    width: 15px;
    display: none;
    color: white;
}

button:hover img {
    display: block;
}

button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-column::after {
    content: "";
    width: 10px;
    height: 75%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    position: absolute;
    left: -40px;
    top: 50px;
}

.right-column {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.right-column .faq-image {
    width: 80%;
    transform: translateX(180px);
}

.right-column .color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#71b7e6, #9b59b6);
    border-radius: 50px 0 0 50px;
    /* border-radius: 50%; */
    height: 110%;
    width: 70%;
    z-index: -1;
    transform: translateX(100px);
}
/* End Description Section */

/* FAQ Section */
.faq-accordion {
    min-height: 100vh;
    background-color: #0D1317;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    margin: 6rem 0rem;
    color: #71b7e6;
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #F3EFF5;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.8rem;
    color: #F3EFF5;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
    color: #F3EFF5;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* End FAQ Section */

/* Start Load Button Section */
.load-button {
    justify-content: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.not-visible {
    display: none;
}
/* End Load Button Section */