{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beranda</title>
    <link rel="stylesheet" href="{% static 'ame\css\beranda_style.css' %}">

  </head>

<body>
  {% include "navbar.html" %}
  <div class="isi-beranda">
    
  
  <h1 > Website Covid-19 PBP-D05</h1>

  <div class="informasi-Covid-19">
    
    <h3 class="judul-Covid-19">Apa itu COVID-19?</h3>
    <p class="text-Covid-19">
      COVID-19 adalah penyakit menular yang disebabkan oleh jenis coronavirus
      yang baru ditemukan. Virus baru dan penyakit yang disebabkannya ini tidak
      dikenal sebelum mulainya wabah di Wuhan, Tiongkok, bulan Desember 2019.
      COVID-19 ini sekarang menjadi sebuah pandemi yang terjadi di banyak negara
      di seluruh dunia.
    </p>
    <p class="link-Covid-19">sumber: https://www.who.int/indonesia/news/novel-coronavirus/qa/qa-for-public </p>    
  </div>

  <div class="informasi-Vaksin">
    
    <h3 class="judul-Vaksin">Apa itu Vaksinasi COVID-19?</h3>
    <p class="text-Vaksin">
      Vaksinasi Covid-19 merupakan salah satu upaya pemerintah Indonesia dalam
      menangani masalah Covid-19. Vaksinasi Covid-19 bertujuan untuk menciptakan
      kekebalan kelompok (herd immunity) agar masyarakat menjadi lebih produktif
      dalam menjalankan aktivitas kesehariannya.
    </p>
    <p class="link-Vaksin">sumber: https://promkes.kemkes.go.id</p>    
  </div>

  <div >
  <img src=https://djikp.kominfo.go.id/assets/upload/headline//media_sosial_.png class="ayo-vaksin-image">
  <p class="center-text">Sumber: https://djikp.kominfo.go.id/assets/upload/headline//media_sosial_.png</p>
  </div>
    <!-- <a href="/beranda/add-information/" class="btn-add">add information</a> -->
    <!-- <a href="/delete_information/{{information.id}}" class="btn-delete">Delete information</a> -->
    <h4 class="center-text" >Kasus Covid-19 Indonesia Perbulan</h4>
      <div class="tabel-covid">
        {% include "tabel_covid.html" %} 
      </div>

          <a href="/beranda/add-data/" class="btn-add">edit statistik</a>

          <div class="chart-vaksin">
        {% include "vaksin_charts.html" %} 
      </div>

  </div>  
  </body>
</html>

{% include "footer.html" %}