{% load static %}
{% include 'navbar_vaksin.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Lokasi Vaksin Baru</title>
    <link rel="stylesheet" href="{% static 'rakha\style_form.css' %}">
  </head>
  <body>
  {% include 'navbar_form.html' %}
  <br>
  <br>
  <br>
  <p id="header">Tangerang Vaccine Form</p>

    <div class="tableForm">
        <table align="center" class="myTable">
            <form action="" method="POST">
                {% csrf_token %}
                <tr>
                    <td align="center">Nama</td>
                </tr>
                <tr>
                    <td>{{ form.nama }}</td>
                </tr>
                <tr>
                    <td align="center">URL</td>
                </tr>
                <tr>
                    <td>{{ form.url }}</td>
                </tr>
                <tr>
                    <td align="center">Alamat Lengkap</td>
                </tr>
                <tr>
                    <td>{{ form.alamat }}</td>
                </tr>
                <tr>
                    <td align="center">Nomor Telepon</td>
                </tr>
                <tr>
                    <td>{{ form.nomorTelp }}</td>
                </tr>
                <tr>
                    <td align="center">Jenis Vaksin</td>
                </tr>
                <tr>
                    <td>{{ form.jenis }}</td>
                </tr>
                <tr>
                    <td align="center">Syarat Peserta</td>
                </tr>
                <tr>
                    <td>{{ form.syaratPeserta }}</td>
                </tr>
                <tr>
                    <td align="center">
                        <br>
                        <input type="submit">
                    </td>
                </tr>
            </form>
        </table>
    </div>
    <br>
    <br>
  </body>
</html>
