{% load static %}
{% include 'navbar_vaksin.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Lokasi Vaksin Baru</title>
    <link rel="stylesheet" href="{% static 'rakha\style_form.css' %}">
  </head>
  <body>
    <br>
    <div class="container">
      {% include 'navbar_form.html' %}
    </div>
    <div class="container">
      <div id="form">
        <div class="formHeader">
          <h1>Depok Vaccine Form</h1>
        </div>
        <div class="formContent">
          <form action="" method="POST">
              {% csrf_token %}
              <p align="left">Nama</p>
              <p>{{ form.nama }}</p>

              <p align="left">URL</p>
              <p>{{ form.url }}</p>

              <p align="left">Alamat Lengkap</p>
              <p>{{ form.alamat }}</p>

              <p align="left">Nomor Telepon</p>
              <p>{{ form.nomorTelp }}</p>

              <p align="left">Jenis Vaksin</p>
              <p>{{ form.jenis }}</p>

              <p align="left">Syarat Peserta</p>
              <p>{{ form.syaratPeserta }}</p>

              <table align="center">
                <tr><td><input type="submit"> </td></tr>
              </table>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
