{% load static %}
{% include 'navbar_vaksin.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" /> -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width ,initial-scale = 1.0">
    <title>Lokasi Vaksin</title>
    <link rel="stylesheet" href="{% static 'rakha\style_index.css' %}">
    <link rel="stylesheet" href="{% static 'rakha\style_index2.css' %}">
  </head>
  <body>
  <h1 align="center">Vaksin</h1>
  <div class="ketVaksin">
    <p>Dibawah ini adalah lokasi vaksinasi Covid-19 di Jabodetabek. Dibawah ini adalah lokasi vaksinasi Covid-19 di Jabodetabek. Dibawah ini adalah lokasi vaksinasi Covid-19 di Jabodetabek. Dibawah ini adalah lokasi vaksinasi Covid-19 di Jabodetabek. Dibawah ini adalah lokasi vaksinasi Covid-19 di Jabodetabek.</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <h3 align="center">Jakarta</h3>
  <div class="container">
  {% for vaksin in vaksinsJak %}
    <div class="cards">
      <div class="namaTempat">
        <p>{{ vaksin.nama }}</p>
      </div>
      <div class="card-content">
        <p>Alamat: {{ vaksin.alamat }}</p>
        <p>Nomor Telepon: {{ vaksin.nomorTelp }}</p>
        <p>Jenis Vaksin: {{ vaksin.jenis }}</p>
        <p>Syarat Peserta: {{ vaksin.syaratPeserta }}</p>
        <div class="tempat-gmaps">
            <table align="center">
                <tr>
                    <td><a href="{{ vaksin.url }}" class="gmaps">Maps</a></td>
                    <td><button type="button" class="butEdit" onclick="document.getElementById('edit').style.display='block'">Edit</button></td>
                    <td><button type="button" class="butDelete" onclick="document.getElementById('delete').style.display='block'">Delete</button></td>
                </tr>
            </table>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  </div>
  <h3 align="center">Bogor</h3>
  <div class="container">  
  {% for vaksin in vaksinsBog %}
    <div class="cards"> 
      <div class="namaTempat">
        <p>{{ vaksin.nama }}</p>
      </div>
      <div class="card-content">
        <p>Alamat: {{ vaksin.alamat }}</p>
        <p>Nomor Telepon: {{ vaksin.nomorTelp }}</p>
        <p>Jenis Vaksin: {{ vaksin.jenis }}</p>
        <p>Syarat Peserta: {{ vaksin.syaratPeserta }}</p>
        <div class="tempat-gmaps">
            <table align="center">
                <tr>
                    <td><a href="{{ vaksin.url }}" class="gmaps">Maps</a></td>
                    <td><button type="button" class="butEdit" onclick="document.getElementById('edit').style.display='block'">Edit</button></td>
                    <td><button type="button" class="butDelete" onclick="document.getElementById('delete').style.display='block'">Delete</button></td>
                </tr>
            </table>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  </div>
  <h3 align="center">Depok</h3>
  <div class="container"> 
  {% for vaksin in vaksinsDep %}
    <div class="cards"> 
      <div class="namaTempat">
        <p>{{ vaksin.nama }}</p>
      </div>
      <div class="card-content">
        <p>Alamat: {{ vaksin.alamat }}</p>
        <p>Nomor Telepon: {{ vaksin.nomorTelp }}</p>
        <p>Jenis Vaksin: {{ vaksin.jenis }}</p>
        <p>Syarat Peserta: {{ vaksin.syaratPeserta }}</p>
        <div class="tempat-gmaps">
            <table align="center">
                <tr>
                    <td><a href="{{ vaksin.url }}" class="gmaps">Maps</a></td>
                    <td><button type="button" class="butEdit" onclick="document.getElementById('edit').style.display='block'">Edit</button></td>
                    <td><button type="button" class="butDelete" onclick="document.getElementById('delete').style.display='block'">Delete</button></td>
                </tr>
            </table>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  </div>
  <h3 align="center">Tangerang</h3>
  <div class="container">
  {% for vaksin in vaksinsTag %}
    <div class="cards">
      <div class="namaTempat">
        <p>{{ vaksin.nama }}</p>
      </div>
      <div class="card-content">
        <p>Alamat: {{ vaksin.alamat }}</p>
        <p>Nomor Telepon: {{ vaksin.nomorTelp }}</p>
        <p>Jenis Vaksin: {{ vaksin.jenis }}</p>
        <p>Syarat Peserta: {{ vaksin.syaratPeserta }}</p>
        <div class="tempat-gmaps">
            <table align="center">
                <tr>
                    <td><a href="{{ vaksin.url }}" class="gmaps">Maps</a></td>
                    <td><button type="button" class="butEdit" onclick="document.getElementById('edit').style.display='block'">Edit</button></td>
                    <td><button type="button" class="butDelete" onclick="document.getElementById('delete').style.display='block'">Delete</button></td>
                </tr>
            </table>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  </div>
  <h3 align="center">Bekasi</h3>
  <div class="container">
    {% for vaksin in vaksinsBek %}
    <div class="cards"> 
      <div class="namaTempat">
        <p>{{ vaksin.nama }}</p>
      </div>
      <div class="card-content">
        <p>Alamat: {{ vaksin.alamat }}</p>
        <p>Nomor Telepon: {{ vaksin.nomorTelp }}</p>
        <p>Jenis Vaksin: {{ vaksin.jenis }}</p>
        <p>Syarat Peserta: {{ vaksin.syaratPeserta }}</p>
        <div class="tempat-gmaps">
            <table align="center">
                <tr>
                    <td><a href="{{ vaksin.url }}" class="gmaps">Maps</a></td>
                    <td><button type="button" class="butEdit" onclick="document.getElementById('edit').style.display='block'">Edit</button></td>
                    <td><button type="button" class="butDelete" onclick="document.getElementById('delete').style.display='block'">Delete</button></td>
                </tr>
            </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </body>
</html>