{% load static %}
{% include 'navbar_vaksin.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width ,initial-scale = 1.0">
    <title>Lokasi Vaksin</title>
    <link rel="stylesheet" href="{% static 'rakha\style_index.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <script type="text/JavaScript" src="{% static 'rakha\script.js' %}" ></script> -->
  </head>
  <body>
  <h1 align="center">Vaksin</h1>
  <div class="ketVaksin">
    <p>Dibawah ini adalah lokasi vaksinasi Covid-19 di Jabodetabek. Dibawah ini adalah lokasi vaksinasi Covid-19 di Jabodetabek. Dibawah ini adalah lokasi vaksinasi Covid-19 di Jabodetabek. Dibawah ini adalah lokasi vaksinasi Covid-19 di Jabodetabek. Dibawah ini adalah lokasi vaksinasi Covid-19 di Jabodetabek.</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <h2 align="center">Jakarta</h2>
  <div class="containerJak">
  
  </div>
  </div>
  <h2 align="center">Bogor</h2>
  <div class="containerBog">  
    
  </div>
  </div>
  <h2 align="center">Depok</h2>
  <div class="containerDep"> 
    
  </div>
  </div>
  <h2 align="center">Tangerang</h2>
  <div class="containerTag">
  
  </div>
  </div>
  <h2 align="center">Bekasi</h2>
  <div class="containerBek">

  </div>

  <script >
    
    $(document).ready(function() { 
      var Jak = '{{ vaksinsJak }}';
      var Bog = '{{ vaksinsBog }}';
      var Dep = '{{ vaksinsDep }}';
      var Tag = '{{ vaksinsTag }}';
      var Bek = '{{ vaksinsBek }}';

      $.ajax({
        url: "lokasi-vaksin/2" ,
        datatype: "json" , 
        success: function(data) {
          console.log(data);
        }
      })


      
      var dynamic = document.querySelector('.containerJak');  
      var isi = "";
      console.log(Jak);
      for (var i = 0; i < Jak.length; i++) {
        isi += '<div class="cards"><div class="namaTempat"><p>' + Jak[i].nama + '</p</div><div class="card-content"><p>Alamat: ' + Jak[i].alamat + '</p><p>No. Telepon: ' + Jak[i].nomorTelp + '</p><p>Jenis: ' +  Jak[i].jenis + '</p><p>Syarat: ' + Jak[i].syaratPeserta + '</p><div class="tempat-gmaps"><a href="' + Jak[i].url + '" class="gmaps">Google Maps</a></div></div></div>';
      }
      dynamic.innerHTML = isi;

      dynamic = document.querySelector('.containerDep');  
      isi = "";
      for (var i = 0; i < Dep.length; i++) {
        isi += '<div class="cards"><div class="namaTempat"><p>' + Dep[i].nama + '</p</div><div class="card-content"><p>Alamat: ' + Dep[i].alamat + '</p><p>No. Telepon: ' + Dep[i].nomorTelp + '</p><p>Jenis: ' +  Dep[i].jenis + '</p><p>Syarat: ' + Dep[i].syaratPeserta + '</p><div class="tempat-gmaps"><a href="' + Dep[i].url + '" class="gmaps">Google Maps</a></div></div></div>';
      }
      dynamic.innerHTML = isi;

      function deleteData(id, kota) {
        $.ajax({
        url: "lokasi-vaksin/2" ,
        data: {
          "kota" : kota ,
          "id" : id ,
        } ,
        datatype: "json" ,
        success: function(data) {
          console.log(data);
        }
        })
      }
    });
  
  </script>
  </body>
  
</html>