{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="{% static 'rakha\style_navbar.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><p></p></li>
            </ul>
            <ul class="nav navbar-nav navbar-center">
                <li><a href="/lokasi-vaksin">Card</a></li>
                <li><a href="/lokasi-vaksin/add-vaksin-jakarta">Form</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p></p></li>
            </ul>
        </div>
    </nav>
  </body>
</html>
