{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'rakha\style_navbar_form.css' %}">

</head>
<body>

<div class="dropdown">
  <button class="dropbtn">Change Location</button>
  <div class="dropdown-content">
    <a href="/lokasi-vaksin/add-vaksin-jakarta">Jakarta</a>
    <a href="/lokasi-vaksin/add-vaksin-bogor">Bogor</a>
    <a href="/lokasi-vaksin/add-vaksin-depok">Depok</a>
    <a href="/lokasi-vaksin/add-vaksin-tangerang">Tangerang</a>
    <a href="/lokasi-vaksin/add-vaksin-bekasi">Bekasi</a>
  </div>
</div>

</body>
</html>
