{% load static %}
{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'qosim/css/index.css' %}">
  <title>{{ page_title|default:"DP5 PBP" }}</title>
</head>
<body>
  <!-- title -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center" style="margin: 30px 0;">{{ page_title|default:"DP5 PBP" }}</h1>
      <p class="lead">
        Di bawah ini adalah list rumah sakit yang menyediakan ruang ICU atau ruang kosong.
        Lokasi rumah sakit dikelompokkan dalam Jakarta, Bogor, Depok, Tangerang, Bekasi (Jabodetabek), dan luar Jabodetabek.
      </p>
    </div>
  </div>

  <div class="container" style="margin-bottom: 20px;">
    <!-- tambah rs -->
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="add/" role="button">Tambah Rumah Sakit</a>
    {% else %}
    <a class="btn btn-outline-primary disabled" href="add/" role="button" aria-disabled="true">Tambah Rumah Sakit</a>
    {% endif %}

    <!-- cards -->
    <h1 class="text-center" style="margin: 20px 0;">Jakarta</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for rumah_sakit in rumah_sakit_ls %}
      {% if rumah_sakit.lokasi == 'JK' %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ rumah_sakit.nama }}</h5>
              <p class="card-text">
                {{ rumah_sakit.alamat }} <br>
                {{ rumah_sakit.no_telp }} <br>
                {{ rumah_sakit.url_gmaps }} <br>
                Tersedia:
                {% if rumah_sakit.tersedia == "I" %}
                ICU
                {% elif rumah_sakit.tersedia == "K" %}
                Kamar
                {% else %}
                ICU dan Kamar
                {% endif %}
              </p>
              <div class="col">
                <a class="btn btn-outline-warning" href="{{ rumah_sakit.id }}/edit/" role="button">Edit</a>
                <a class="btn btn-outline-danger" href="{{ rumah_sakit.id }}/hapus/" role="button">Hapus</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h1 class="text-center" style="margin: 20px 0;">Bogor</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for rumah_sakit in rumah_sakit_ls %}
      {% if rumah_sakit.lokasi == 'BO' %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ rumah_sakit.nama }}</h5>
              <p class="card-text">
                {{ rumah_sakit.alamat }} <br>
                {{ rumah_sakit.no_telp }} <br>
                {{ rumah_sakit.url_gmaps }} <br>
                Tersedia:
                {% if rumah_sakit.tersedia == "I" %}
                ICU
                {% elif rumah_sakit.tersedia == "K" %}
                Kamar
                {% else %}
                ICU dan Kamar
                {% endif %}
              </p>
              <div class="col">
                <a class="btn btn-outline-warning" href="{{ rumah_sakit.id }}/edit/" role="button">Edit</a>
                <a class="btn btn-outline-danger" href="{{ rumah_sakit.id }}/hapus/" role="button">Hapus</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h1 class="text-center" style="margin: 20px 0;">Depok</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for rumah_sakit in rumah_sakit_ls %}
      {% if rumah_sakit.lokasi == 'DE' %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ rumah_sakit.nama }}</h5>
              <p class="card-text">
                {{ rumah_sakit.alamat }} <br>
                {{ rumah_sakit.no_telp }} <br>
                {{ rumah_sakit.url_gmaps }} <br>
                Tersedia:
                {% if rumah_sakit.tersedia == "I" %}
                ICU
                {% elif rumah_sakit.tersedia == "K" %}
                Kamar
                {% else %}
                ICU dan Kamar
                {% endif %}
              </p>
              <div class="col">
                <a class="btn btn-outline-warning" href="{{ rumah_sakit.id }}/edit/" role="button">Edit</a>
                <a class="btn btn-outline-danger" href="{{ rumah_sakit.id }}/hapus/" role="button">Hapus</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h1 class="text-center" style="margin: 20px 0;">Tangerang</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for rumah_sakit in rumah_sakit_ls %}
      {% if rumah_sakit.lokasi == 'TA' %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ rumah_sakit.nama }}</h5>
              <p class="card-text">
                {{ rumah_sakit.alamat }} <br>
                {{ rumah_sakit.no_telp }} <br>
                {{ rumah_sakit.url_gmaps }} <br>
                Tersedia:
                {% if rumah_sakit.tersedia == "I" %}
                ICU
                {% elif rumah_sakit.tersedia == "K" %}
                Kamar
                {% else %}
                ICU dan Kamar
                {% endif %}
              </p>
              <div class="col">
                <a class="btn btn-outline-warning" href="{{ rumah_sakit.id }}/edit/" role="button">Edit</a>
                <a class="btn btn-outline-danger" href="{{ rumah_sakit.id }}/hapus/" role="button">Hapus</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h1 class="text-center" style="margin: 20px 0;">Bekasi</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for rumah_sakit in rumah_sakit_ls %}
      {% if rumah_sakit.lokasi == 'BEK' %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ rumah_sakit.nama }}</h5>
              <p class="card-text">
                {{ rumah_sakit.alamat }} <br>
                {{ rumah_sakit.no_telp }} <br>
                {{ rumah_sakit.url_gmaps }} <br>
                Tersedia:
                {% if rumah_sakit.tersedia == "I" %}
                ICU
                {% elif rumah_sakit.tersedia == "K" %}
                Kamar
                {% else %}
                ICU dan Kamar
                {% endif %}
              </p>
              <div class="col">
                <a class="btn btn-outline-warning" href="{{ rumah_sakit.id }}/edit/" role="button">Edit</a>
                <a class="btn btn-outline-danger" href="{{ rumah_sakit.id }}/hapus/" role="button">Hapus</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <h1 class="text-center" style="margin: 20px 0;">Luar Jabodetabek</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for rumah_sakit in rumah_sakit_ls %}
      {% if rumah_sakit.lokasi == 'L' %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ rumah_sakit.nama }}</h5>
              <p class="card-text">
                {{ rumah_sakit.alamat }} <br>
                {{ rumah_sakit.no_telp }} <br>
                {{ rumah_sakit.url_gmaps }} <br>
                Tersedia:
                {% if rumah_sakit.tersedia == "I" %}
                ICU
                {% elif rumah_sakit.tersedia == "K" %}
                Kamar
                {% else %}
                ICU dan Kamar
                {% endif %}
              </p>
              <div class="col">
                <a class="btn btn-outline-warning" href="{{ rumah_sakit.id }}/edit/" role="button">Edit</a>
                <a class="btn btn-outline-danger" href="{{ rumah_sakit.id }}/hapus/" role="button">Hapus</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <p></p>
    <!-- tambah rs -->
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="add/" role="button">Tambah Rumah Sakit</a>
    {% else %}
    <a class="btn btn-outline-primary disabled" href="add/" role="button" aria-disabled="true">Tambah Rumah Sakit</a>
    {% endif %}

  </div>

  {% include 'footer.html' %}

  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'qosim/js/index.js' %}"></script>

</body>
</html>