{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css\footer_style.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" /> -->
</head>

<body>
    <!-- Footer Section -->
    <section class="footer">
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>PBP D-05</h6>
                        <p class="text-justify">
                            Sebuah website yang menyediakan informasi terkait lokasi fasilitas kesehatan, informasi kasus
                            COVID-19 baru per bulan, serta data kumulatif vaksinasi COVID-19 di Indonesia. Website ini
                            bertujuan untuk membantu dan memudahkan pengguna dalam pencarian informasi tersebut di daerah
                            pengguna, dan mengetahui perkembangan kasus COVID-19 dan vaksinasi di Indonesia setiap bulan.
                            Website ini juga bertujuan untuk menjadi sebuah platform sharing bagi pasien COVID-19 untuk
                            saling membantu satu sama lain.
                        </p>
                    </div>
    
                    <div id="anggota-kelompok" class="col-6 col-md-3">
                        <h6>Anggota</h6>
                        <ul class="footer-links ">
                            <li>Dionisius Mikael Sutanto</li>
                            <li>Dimas Tri Kurniawan</li>
                            <li>Prinata Rakha Santoso</li>
                            <li>Qosim Ariqoh Daffa</li>
                            <li>Muhammad Rafif Priyo Waskito</li>
                            <li>Rheina Elvaretta</li>
                            <li>Amelia Putri Fadillah</li>
                        </ul>
                    </div>
    
                    <div id="quick-links" class="col-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="/beranda/">Beranda</a></li>
                            <li><a href="/lokasi-vaksin/">Vaksin</a></li>
                            <li><a href="/tempat-oksigen/">Oksigen</a></li>
                            <li><a href="/apd/">APD</a></li>
                            <li><a href="/rumah-sakit/">Rumah Sakit</a></li>
                            <li><a href="/forum/">Forum</a></li>
                            <li><a href="/faq/">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="small">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-12">
                        <p class="copyright-text">Copyright © 2021 All Rights Reserved by PBP D-05</p>
                    </div>
    
                    <div class="col-md-4 col-sm-6 col-12">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!-- End Footer Section -->
</body>