.dropbtn {
  background-color:hsl(0, 0%, 100%);
  color: #222222;
  margin-top: 9px;
  margin-right: 5px;
  font-size: 36px;
  border: 2px solid #a0a0a0;
  font-weight: 400;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  transition: 300ms all;
  transition-duration: 0.4s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.dropdown:hover .dropbtn {
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.651); */
  background-color: #a3a3a3;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content a:active {background-color: rgb(218, 240, 255);}

.dropdown:hover .dropdown-content {display: block;}