.dropbtn {
  background-color:hsl(0, 0%, 100%);
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  margin-right: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
}
.dropbtn-tangerang {
  background-color:hsl(0, 0%, 100%);
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  margin-right: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  width: 190px;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  transition: 300ms all;
  transition-duration: 0.2s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.dropdown:hover .dropbtn {
  width: 160px;
}
.dropdown:hover .dropbtn-tangerang {
  width: 210px;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown-content2 a:hover {background-color: #ddd;}

.dropdown-content a:active {background-color: rgb(218, 240, 255);}

.dropdown:hover .dropdown-content {display: block;}
.dropdown2:hover .dropdown-content2 {display: block;}