.butEdit {
    background-color: rgb(114, 89, 255);
    border: none;
    color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.butDelete {
    background-color: rgb(255, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #c2e8ff;
    color: rgb(0, 0, 0);
}