p {
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#form {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;   
    justify-content: flex-end; 
    background-size: cover;
    background-position: center;
}
.formHeader {
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #334145;
    font-weight: 700;
}
.formContent {
    background-color: rgb(240, 240, 240);
    padding: 10px 15px;
    text-align: left;
    font-size: 15px;
    width: 100%;
    height: 100%;
    transition: 300ms all;
}






#header {
    text-align: center;
    background: rgb(226, 226, 226);
    font-size: 20pt;
    padding: 10pt;
    font-weight: 700;
}

.tableForm {
    background: rgb(173, 173, 173);
    padding-bottom: 20pt;
}

td {
    padding: 4pt;
    font-size: 12pt;
}

input[type=submit] {
    background-color: #424242;
    font-size: 12pt;
    color: #ffffff;
    padding-top: 3pt;
    padding-bottom: 3pt;
    padding-left: 30pt;
    padding-right: 30pt;
    border-radius: 5px;
    border: none;
}

input[type=submit]:hover {
    background-color: #252525;
}

input[type=submit]:active {
    transform: scale(0.8);
}