body{
    width:100%;
}

.isi-beranda{
    min-height:2000px;
    padding:40px 40px;
    margin: 10px;
    
    background-color: #edf6fa;
    position:relative;
}

h1{
    text-align: center;
}



.informasi-Covid-19{
    padding-right: 40%;
}

.informasi-Vaksin{
    padding-left: 40%;
    text-align: right;
}

.judul-infromasi{
    font: bold;
}

.ayo-vaksin-image{
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-text{
    text-align: center
}


.btn-delete{
    margin: 8px 0;
    display: inline-block;
    background-color: #cc4444;
    border: 2px solid #cc4444;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.btn-delete:hover {
    color: #cc4444;
    background-color: white;
}